.jumbotron{
  background-image: url(anitaimages/landing.jpg);
  background-attachment: fixed;
}
.kuku{
  background-image: url(anitaimages/breakfast.jpg);
  padding: 60px;
margin-top: 100px;
margin-left: -50px;
}
.party{
  background-color: #F15A29;
  padding: 20px;
  margin-left: -90px;


}
.happy{
  padding:20px;
  background-color: grey;
  margin-top: 100px;
  margin-left: -90px;
}
.good{
  background-image: url(anitaimages/lunch.jpg);
padding: 60px;
margin-top: 100px;;
margin-left: -90px;
}
.dinner{
  background-image: url(anitaimages/dinner.jpg);
  padding: 60px;
  margin-top: 100px;
  margin-left: -90px;
  margin-right: -100px;
}
.well{
  padding: 80;
}
.white{
  color: white;
}
#head{
  font-size:28;
}
.center{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
}
.drink{
  padding: 80;
  margin: auto;
}
.fast{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
  background-color: white;
}
.awsome{
  background-image: url("anitaimages/foodsBg.jpg");
  padding: 20;
justify-content:Right;
}
.later{
	background-color: #F15A29;
	height: 40vh;
	justify-content:center;
	text-align: center;
	padding: 50px ;

}
.btn{
  background-color:#F15A29;
}
.sawa{
  background-image: url("anitaimages/subscribe.jpg");
  height:400px;
  margin-left: -100px;
  margin-right: -400px;
}
#put{
  justify-content: center;
}
.group{
  margin-top:-100px;
}
.lilo{
  color: white;
  margin: 100px;
}
.jumbotron{
  background-color: #F15A29;
  margin:-100px;
  align-content: center;
}
#put{
  margin-left: 500px;
}
#img{
  margin-left:400px;
}
#that{
  margin-left:400px;
}
#who{
  margin-left:400px;
}
#face{
  margin-left:450px;
}
#head{
margin-left:400px;
}
#view{
  border-color: #F15A29;
}
#kad{
margin-left:400px;
border-style: solid;
display: inline;
}
#pipo{
  display: inline-grid;
margin-left:500px;
margin-top: -200px;
}
#drink{
  margin-left: -30px;
  margin-bottom: 50px;
}
#drink1{
  margin-bottom: 50px;
}
#pepere{
  background-image: url("anitaimages/foodsBg.jpg");
}
#burger{
  margin-left: 50px;
  background-image: url("anitaimages/foodsBg.jpg");
  margin-top: : -100px;
  margin-bottom: -100px;
}
#mori{
  border-style: solid;
  margin-top:-100px;
  margin-left: -150px;
  margin-bottom: -180px;
  background-color: white;
}
#kong{
  border-style: solid;
  margin-right: 300px;
  margin-top: 100px;
  background-color: white;
}
#m,#b,#a,#i{
  color:#F15A29;

}
.ting{
  color: white;
}
