.jumbotron{
  background-image: url(anitaimages/landing.jpg);
  background-attachment: fixed;
}
.sawa{
  background-image: url(anitaimages/breakfast.jpg);
  padding: 60px;
  margin: 0;
}
.party{
  background-color: #F15A29;
  padding: 20px;

}
.happy{
  padding:20px;
  background-color: grey;
}
.good{
  background-image: url(anitaimages/lunch.jpg);
padding: 60px;
margin:0;
}
.dinner{
  background-image: url(anitaimages/dinner.jpg);
  padding: 60px;
  margin: 0;
}
.well{
  padding: 80;
}
.white{
  color: white;
}
#head{
  font-size:28;
}
.center{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
}
.drink{
  padding: 80;
  margin: auto;
}
.fast{
  display: flex;
  justify-content:center;
  align-items: center;
  margin: auto;
  background-color: white;
}
.awsome{
  background-image: url("anitaimages/foodsBg.jpg");
  padding: 20;
justify-content:Right;
}
.later{
	background-color: #F15A29;
	height: 40vh;
	justify-content:center;
	text-align: center;
	padding: 50px ;

}
.btn{
  border-color:orange;
}
.pape{
  background-image: url("anitaimages/subscribe.png");
  justify-content: center;
}
.sawa{
  background-image: url("anitaimages/subscribe.jpg");
  margin-left: -80px;
  margin-right: -80px;
  height: 40vh;

}
#put{
  justify-content: center;
}
.group{
  margin-bottom: 5em;
}
.lilo{
  color: white;
}
